<app-navbar></app-navbar>
<section *ngIf="loading">
  <mat-spinner></mat-spinner>
</section>
<section *ngIf="!loading">
  <mat-card *ngIf="vm">
    <mat-card-header>
      <mat-card-title>{{vm.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <p>Processor Cores: {{vm.processorCores}}<p>
        </mat-list-item>
        <mat-list-item>
          <p>Virtual RAM: {{vm.virtualRam}}GB<p>
        </mat-list-item>
        <mat-list-item>
          <p>Storage Space: {{vm.storageSpace}}GB<p>
        </mat-list-item>
        <mat-list-item>
          <p>Price: {{vm.price}} cents per minute<p>
        </mat-list-item>
      </mat-list>

      <a>
        <button mat-raised-button color="warn" (click)="deleteVM()">Delete</button>
      </a>
      <a>
        <button *ngIf="vm.type != 'Ultra Large'" mat-raised-button color="primary" (click) = "upgradeVM()">Upgrade</button>
      </a>
      <button *ngIf="vm.type == 'Ultra Large'" mat-raised-button color="primary" disabled>Upgrade</button>
      <a>
        <button *ngIf="vm.type != 'Basic'" mat-raised-button color="accent" (click) = "downgradeVM()">Downgrade</button>
      </a>
      <button *ngIf="vm.type == 'Basic'" mat-raised-button color="accent" disabled>Downgrade</button>

      <a>
        <button *ngIf="vm.status!=true" mat-stroked-button color="primary" (click) = "startVM()">Start</button>
      </a>
      <button *ngIf="vm.status==true" mat-stroked-button color="warn" (click) ="stopVM()">Stop</button>

      <a [routerLink]="['/usage', vm._id]">
        <button mat-raised-button>Usage</button>
      </a>
    </mat-card-content>
  </mat-card>
</section>
