<h1>Create VM</h1>

<mat-list class="optionList">
  <mat-list-item *ngFor="let vm of vms; index as i" class="optionListItem">
    <mat-card class="optionCard" (click)="optionSelected(i)">
      <mat-card-header>
        <mat-card-title>{{vm.name}} Virtual Service Instance</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <p>Processor Cores: {{vm.processorCores}}<p>
          </mat-list-item>
          <mat-list-item>
            <p>Virtual RAM: {{vm.virtualRam}}GB<p>
          </mat-list-item>
          <mat-list-item>
            <p>Storage Space: {{vm.storageSpace}}GB<p>
          </mat-list-item>
          <mat-list-item>
            <p>Price: {{vm.price}} cents per minute<p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-list-item>
</mat-list>
