<h1>
  Dashboard
</h1>

<ul>
  <li>
    <a [routerLink]="['/create-vm']">Create VM</a>
  </li>
  <li>
    <a [routerLink]="['/delete-vm']">Delete VM</a>
  </li>
  <li>
    <a [routerLink]="['/start-vm']">Start VM</a>
  </li>
  <li>
    <a [routerLink]="['/stop-vm']">Stop VM</a>
  </li>
  <li>
    <a [routerLink]="['/upgrade-vm']">Upgrade VM</a>
  </li>
  <li>
    <a [routerLink]="['/downgrade-vm']">Downgrade VM</a>
  </li>
  <li>
    <a [routerLink]="['/usage/0']">VM Usage</a>
  </li>
  <li>
    <a [routerLink]="['/charges']">Charges</a>
  </li>
</ul>
